
<div class="container">
<div class="header">
  <div class="row">
        <div class="large-12 columns">
            <center><h1>{{ user.firstname }}'s Account Information</h1></center>
        </div>
        </div>
</div>




   <div class="row">
   
  
       <div class="large-4 large-centered columns user-info">
           

<div style="border:1px solid gray;width:100%;"  id="preview"><img src="{{user.user_img}}" style="width:300px;" /></div>
        <p id="status">Please select a to replace</p>
       <input type="file" id="files" onchange="angular.element(this).scope().s3Upload()"/>
        
        <form>
        
        <input type="text" name="firstname"  ng-model="user.firstname" />
        
        <input type="text" name="firstname" ng-model="user.lastname" />

    		<input type="submit" value="Update profile" ng-click="updateUser()" />
    </form>
        

        
        
        </div>
        
         
   </div>
   






</div>