
<div class="container">





   <div class="row">
   
  
       <div class="large-4 large-centered columns user-info">
           

<div style="border:1px solid gray;width:100%;"  id="preview"><img src="{{user.user_img}}"  /></div>
        <p id="status" style="color:#333;">Please select a to replace</p>
       <input type="file" id="files" onchange="angular.element(this).scope().s3Upload()"/>
        
        <form>
        
        <input type="text" name="firstname"  ng-model="user.firstname" />
        
        <input type="text" name="firstname" ng-model="user.lastname" />

    		<input type="submit" value="Update profile" ng-click="updateUser()" />
    </form>
        

        
        
        </div>
        
         
   </div>
   






</div>