
<div class="container">
<div class="header">
  <div class="row">
        <div class="large-4 columns">
           <h1>{{ user.firstname }}'s Account</h1>
        </div>
         <div class="large-8 columns">
           <ul class="nav">
         
          <li><a href="/dashboard">Main Dashboard</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
           </ul> 
        </div>
        </div>
</div>




   <div class="row">
   
  
       <div class="large-4 large-centered columns user-info">
           

<div style="border:1px solid gray;width:100%;"  id="preview"><img src="{{user.user_img}}" style="width:300px;" /></div>
        <p id="status" style="color:#333;">Please select a to replace</p>
       <input type="file" id="files" onchange="angular.element(this).scope().s3Upload()"/>
        
        <form>
        
        <input type="text" name="firstname"  ng-model="user.firstname" />
        
        <input type="text" name="firstname" ng-model="user.lastname" />

    		<input type="submit" value="Update profile" ng-click="updateUser()" />
    </form>
        

        
        
        </div>
        
         
   </div>
   






</div>