
<div class="container">

<div class="header">
  <div class="row">
        <div class="large-6 columns">
           <h1>Miles Command Center</h1>
        </div>
         <div class="large-6 columns">
           <ul class="nav">
          <li> Welcome, {{session.user_firstname}} {{session.user_lastname}}</li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">logout</a></li>
           </ul> 
        </div>
        </div>
</div>


    <div class="right-sidebar">
    	<div class="row">
    		<div class="large-12 columns">
            <h2 class="queue">New Task Queue</h2>
            
            <ul sortable class="todo-queue">
              <li class="checkbox todo queue-item" ng-repeat="todo in todos"  id="{{todo._id}}"><span ng-click="clickToOpen(todo._id)" >{{ todo.text }}</span>
               
                   <!-- <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                    <p>{{ todo.notes }}</p>-->
                </li>
                
               </ul> 
          
            </div>
    	</div>
    
    </div>

<div class="main-dashboard">

     

        <div id="todo-list" class="row">
        
        <div class="large-12 columns">
            <div class="row todo-clear">
            	<div class="users large-4 columns" ng-repeat="user in users">
                        <h3 style="background-image:url({{user.user_img}}); background-size:cover;"><a href="/user/{{user._id}}">{{ user.firstname }} {{ user.lastname }}</a></h3>
                        
                    <ul class="todo-queue" id="{{user._id}}" sortable >
                        <li class="queue-item" ng-repeat="todo in user.tasks" id="{{todo._id}}" ng-mouseenter="addOptions(todo)" ng-mouseleave="addOptions(todo)" >
                            <span ng-click="clickToOpen(todo._id)" >{{ todo.text }}</span> 
                            <span class='delete' ng-show='todo.showDelete'><a href='#' ng-click='deleteTodo(todo._id)'>x</a></span>
                        </li>                         
                    </ul>
              
                        
                    </div>
             </div>       
        </div>
        
              
           
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
          
                <form class="large-12 columns">
         
	<div class="row">
    <div class="large-8 columns">
        <div class="form-section">
        <label> Task Name
                            <input type="text" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text" class="task-input">
          </label>          
              </div>  
             
               <div class="form-section">
                <label> Task Type 
                   <select class="task-input" ng-model="formData.type">
                       <option value="mockup">Mockup</option>
                       <option value="qa">QA</option>
                       <option value="development">Development</option>
                       <option value="maintenance">Maintenance</option>
                       <option value="content">Content Implementation</option>
                   </select>
                  </label> 
               </div>            
                        
         <div class="form-section">    
         <label> Notes           
                <textarea ng-model="formData.notes" class="task-input"></textarea>
            </label>            
          </div>  
          
          <div class="form-section">   
             <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>           </div>
              
</div>
<div class="large-4 columns">
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                 
                    </div>
                    
                    
                    </div>
                </form>
                
                
            </div>
   

    </div>
</div>