
<div class="container">

<div class="header">
  <div class="row">
        <div class="large-4 columns">
           <h1>Miles Command Center</h1>
        </div>
         <div class="large-8 columns">
           <ul class="nav">
          <li> Welcome, {{session.user_firstname}} {{session.user_lastname}}</li>
          <li><a href="/account">Main Dashboard</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
           </ul> 
        </div>
        </div>
</div>


    <div class="right-sidebar">
    	<div class="row">
    		<div class="large-12 columns">
            <h2 class="queue">New Task Queue</h2>
            
            <ul sortable class="todo-queue">
                     
                
                  <li ng-class="{done: todo.done}" class="queue-item" ng-repeat="todo in todos" id="{{todo._id}}" ng-mouseenter="addOptions(todo)" ng-mouseleave="addOptions(todo)" >
                        <span class="task-type">{{todo.type}}</span>
                        <span class='delete' ng-show='todo.showDelete'><a href='#' ng-click='deleteTodo(todo._id)'>x</a></span>
                            <span ng-click="clickToOpen(todo._id)" >{{ todo.text }}</span> 
                            <span class="due-date"  ng-show="todo.due">{{todo.due | date:'MM-dd-yyyy'}}</span>
                            
                        </li>   
                
                
               </ul> 
          <a href="#" class="add-todo-btn" ng-click="addTodoSlide()">Add Task</a>
            </div>
    	</div>
    
    
    </div>
    
   <div class="add-todo">
          <div id="todo-form" class="row">
          <h2>Add New Task</h2>
                <form class="large-12 columns">
           
        
        <input type="text" placeholder="Task Title" ng-model="formData.text" class="task-input">
             
            <select class="task-input" ng-model="formData.type">
                   		<option value="" selected disabled>Task Type</option>
                       <option value="mockup">Mockup</option>
                       <option value="qa">QA</option>
                       <option value="development">Development</option>
                       <option value="maintenance">Maintenance</option>
                       <option value="content">Content Implementation</option>
                   </select>
            <textarea ng-model="formData.notes" class="task-input" placeholder="Task Notes"></textarea>

             <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>       

                </form>
                
                
            </div>
   
   </div> 
   
   
    

<div class="main-dashboard">

     

        <div id="todo-list" class="row">
        
        <div class="large-12 columns">
            <div class="row todo-clear">
            	<div class="users large-4 columns" ng-repeat="user in users">
                        <h3 style="background-image:url({{user.user_img}}); background-size:cover;"><a href="/user/{{user._id}}">{{ user.firstname }} {{ user.lastname }}</a><br> <span>Hours - {{user.hours}}</span></h3>
                        
                    <ul class="todo-queue" id="{{user._id}}" sortable >
                        <li ng-class="{done: todo.done}" class="queue-item" ng-repeat="todo in user.tasks" id="{{todo._id}}" ng-mouseenter="addOptions(todo)" ng-mouseleave="addOptions(todo)" >
                        <span class="task-type">{{todo.type}}</span>
                        <span class='delete' ng-show='todo.showDelete'><a href='#' ng-click='deleteTodo(todo._id)'>x</a></span>
                            <span ng-click="clickToOpen(todo._id)" >{{ todo.text }}</span> 
                            <span class="due-date"  ng-show="todo.due">{{todo.due | date:'MM-dd-yyyy'}}</span>
                            
                        </li>                         
                    </ul>
              
                        
                    </div>
             </div>       
        </div>
        
              
           
        </div>

        <!-- FORM TO CREATE TODOS -->
 
   

    </div>
</div>