
<div class="task-screen">
<div class="row">
<div class="large-12 columns">
    <center><h1>Task Editing Screen</h1></center>
    <form>
    <label>Task Name
        <input type="text"  ng-model="todo.text"  />
    </label>  
        <div class="row">
            <div class="large-6 columns">
            <label>Due Date
            <input date-input ng-model="todo.due" />
            	
               </label> 
            </div>
             <div class="large-6 columns">
             <label>Approximate Hours
            	<input type="number" placeholder="Hours"  ng-model="todo.hours"   />
              </label>
            </div>
        </div>
        <label>Client
        <input type="text"  ng-model="todo.client"  />
        </label>
        <label>Task Type
        <select ng-model="todo.type"
                data-ng-options="option for option in selectOptions">                
        </select>
        </label>
        
        <br>
        
      <textarea ui-tinymce ng-model="todo.notes"></textarea>
       <!-- <textarea ng-model="todo.notes">{{todo.notes}}</textarea>-->
        <input type="submit" value="Save" ng-click="saveTask(todo._id)" />
    </form>
 </div>
  </div>      
</div>