
<div class="container">
<div class="header">
  <div class="row">
        <div class="large-12 columns">
            <center><h1>{{ user.firstname }}'s Workload</h1></center>
        </div>
        </div>
</div>


    <div class="right-sidebar">
    	<div class="row">
    		<div class="large-12 columns" drop-target>
            <h2 class="queue">{{ user.firstname }}'s Pending Tasks</h2>
           
            <ul sortable class="todo-queue">
              <li class="queue-item todo" ng-repeat="todo in user.tasks" ng-if="!todo.day"  drag id="{{todo._id}}"> {{ todo.text }}</li>
                </ul>
        
    	</div>
    </div>
    </div>

<div class="main-dashboard">

   <div class="row">
       <div class="large-12 columns day">
       	<h2>Monday</h2>
       
                <ul class="todo-queue" id="monday" sortable>
                	<li class="queue-item" ng-repeat="todo in user.tasks" ng-class="{done: todo.done}"  ng-if="todo.day == 'monday'" id="{{todo._id}}" ><input type="checkbox" ng-click="doneTodo(todo._id)" ng-checked="todo.done" > {{ todo.text }}</li>
                </ul>

       </div>
     </div>
       
   <div class="row">
      <div class="large-12 columns day">
       	<h2>Tuesday</h2>
            
                <ul class="todo-queue" id="tuesday" sortable>
                	<li class="queue-item" ng-repeat="todo in user.tasks" ng-class="{done: todo.done}" ng-if="todo.day == 'tuesday'"  id="{{todo._id}}" ><input type="checkbox" ng-click="doneTodo(todo._id)" ng-checked="todo.done" > {{ todo.text }}</li>
                </ul>
                 
       </div>
     </div>       
       
    <div class="row">      
       <div class="large-12 columns day">
       	<h2>Wednesday</h2>
            
                <ul class="todo-queue" id="wednesday" sortable>
                	<li class="queue-item" ng-repeat="todo in user.tasks" ng-class="{done: todo.done}" ng-if="todo.day == 'wednesday'"  id="{{todo._id}}" ><input type="checkbox" ng-click="doneTodo(todo._id)" ng-checked="todo.done"> {{ todo.text }}</li>
                </ul>
                 
       </div>
	</div>       
       
   <div class="row">
      <div class="large-12 columns day">
		<h2>Thursday</h2>
            
                <ul class="todo-queue" id="thursday" sortable>
                	<li class="queue-item" ng-repeat="todo in user.tasks" ng-class="{done: todo.done}" ng-if="todo.day == 'thursday'"   id="{{todo._id}}" ><input type="checkbox" ng-click="doneTodo(todo._id)" ng-checked="todo.done"> {{ todo.text }}</li>
                </ul>
                   
       </div> 
	</div>    
        
   <div class="row">       
       <div class="large-12 columns day">
		<h2>Friday</h2>
           
                <ul class="todo-queue" sortable>
                	<li class="queue-item" id="friday"  ng-repeat="todo in user.tasks " ng-class="{done: todo.done}" ng-if="todo.day == 'friday'"  id="{{todo._id}}" ><input type="checkbox" ng-click="doneTodo(todo._id)" ng-checked="todo.done"> {{ todo.text }}</li>
                </ul>
                 
       </div>    
   </div>
   

    </div>
</div>