
<div class="container">

<div class="header">
  <div class="row">
        <div class="large-4 columns">
           <h1>{{ user.firstname }}'s Workload</h1>
        </div>
         <div class="large-8 columns">
           <ul class="nav">
          <li> Welcome, {{session.user_firstname}} {{session.user_lastname}}</li>
          <li><a href="/account">Main Dashboard</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
           </ul> 
        </div>
        </div>
</div>




    <div class="right-sidebar">
    	<div class="row">
    		<div class="large-12 columns" >
            <h2 class="queue">{{ user.firstname }}'s Pending Tasks</h2>
           
            <ul sortable class="todo-queue">
              <li class="queue-item" ng-repeat="task in user.tasks" ng-if="!task.working" id="{{task._id}}"> {{ task.text }}</li>
                </ul>
        
    	</div>
    </div>
    </div>

<div class="main-dashboard">

<div class="row">
<div class="large-4 columns working-tasks" >
<h3>Tasks For the Week</h3>
<ul class="todo-queue" id="working" sortable>
<li class="queue-item" ng-repeat="task in user.tasks" ng-if="task.working" ng-class="{done: task.done}" id="{{task._id}}" ><input type="checkbox"  ng-click="doneTodo(task._id)" ng-checked="task.done" > {{ task.text }}</li>
</ul>

</div>


</div>






    </div>
</div>