
<div class="container">

<div class="header">
  <div class="row">
        <div class="large-4 columns">
           <h1>{{ user.firstname }}'s Workload</h1>
        </div>
         <div class="large-8 columns">
           <ul class="nav">
         
          <li><a href="/dashboard">Main Dashboard</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
           </ul> 
        </div>
        </div>
</div>




    <div class="right-sidebar">
    	<div class="row">
    		<div class="large-12 columns" >
            <h2 class="queue">{{ user.firstname }}'s Pending Tasks</h2>
           
            <ul sortable class="todo-queue" >
              <li class="queue-item" ng-repeat="task in user.tasks| filter: {working: false}" id="{{task._id}}"> {{ task.text }}</li>
                </ul>
        
    	</div>
    </div>
    </div>

<div class="main-dashboard">

<div class="row">
    <div class="large-4 columns working-tasks" >
        <h3>Tasks For the Week</h3>
        <ul class="todo-queue" id="working" sortable>
            <li class="queue-item" ng-repeat="task in user.tasks | filter: {working: true}"  ng-class="{done: task.done}" id="{{task._id}}" >
            <span class="task-type">{{task.type}}</span>
            <input type="checkbox"  ng-click="doneTodo(task._id)" ng-checked="task.done" > <span ng-click="showTask(task._id)">{{ task.text }}</span>
            </li>
        </ul>
    </div>



    <div class="large-8 columns">
      	<div id="task-display" ng-show="display">  
    <h2>{{display.text}} - (Budget {{display.hours}} Hours)</h2>
    <h3>{{display.client}}</h3>
    <p><em>Due Date - {{display.due | date:'MM-dd-yyyy'}}</em></p>
    <p>{{display.notes}}</p>
    
    
    	</div>
    </div>

</div>

    </div>
</div>