@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

body{margin:0; padding:0; font-family: 'Oxygen', sans-serif;}

/*======================
Dashboard
=======================*/
.todo-queue{border:#ccc 1px solid; padding:10px 10px 70px 10px; }
.todo-queue.dragenter{ background:url(/imgs/drop-img.jpg) bottom 10px center no-repeat;}
.todo-queue ul{margin:0; padding:0}
.todo-queue ul li{list-style:none; color:#fff; font-weight:400; padding:10px; border-bottom:1px solid #fff; background:#004AA1}
h2.queue{color:#fff;}


.right-sidebar {
background: #004AA1;
position: fixed;
height: 100%;
width: 300px;
z-index: 1000;
right:0;
}

.right-sidebar .todo{color:#fff; margin:10px 0;}

.main-dashboard{width:100%; padding-right: 300px;}

.task-input{width:100%; padding:5px; font-size:1.2em;}

.form-section{margin:20px 0;}

form button{background: #76AC23; padding:10px 30px; color:#fff; border:none; cursor:pointer}

/*[column col="2/3"][gravityform id=2 name=ContactUs title=false][/column]-->

[column col="2/3"]<div>[si-contact-form form='1']</div>[/column]*/

